aioredis
asgiref
async-timeout
atomicwrites
attrs
Babel
beautifulsoup4
boto3
botocore
bs4
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
cx-Oracle
dnspython
email-validator
fastapi
fastapi-cache
filelock
h11
heimdall-client
hiredis
idna
importlib-metadata
iniconfig
jmespath
jsonschema
jwt
kafka-python
packaging
persephone-client
pluggy
py
py3-validate-email
py3dns
pycparser
pydantic
pymongo
pyparsing
pyrsistent
pytest
python-dateutil
python-decouple
python-dotenv
python-http-client
python-i18n
python-multipart
pytz
PyYAML
redis
requests
s3transfer
sendgrid
six
soupsieve
starkbank-ecdsa
starlette
toml
typing-extensions
urllib3
uvicorn
validate-email
watchgod
websockets
zipp
